.a
{
 background-image:linear-gradient(to right, rgb(52, 255, 52),aqua,yellow);
 text-align: center;
 padding-bottom: 4px;
 padding-top: 4px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
.b
{
    background-image:linear-gradient(to right,rgb(52,255,52),aqua,yellow);
    height:1.3cm;
    width:7cm;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 0.5cm;
    position: relative;
    left:100px;
    border-top-right-radius:10px ;
    border-top-left-radius:10px ;
}
img
{
    height: 10px;
    width: 10px;
    
}
button
{
    position: relative;
    left: 100px;
}
.d
{
    position: relative;
    left:110px;
}
div
{
    position: relative;
    left: 100px;
    top: -20px;
    background-color: aliceblue;
    height: 200px;
    width: 7cm;
}
body
{
    background-color: black;
} 
span
{
    position: relative;
    top: 10px;
    left: 20px;
}
.g
{
    position: relative;
    left: 20px;
    top:10px;
}
.h
{
    position: relative;
    left: 50px;
    top: 10px;
}